@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-custom {
  background-color: #ab1066;
  border: none;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  text-decoration:solid;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 25px;
  min-width: 10em;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: #044237;
}


.custom-search {
  position: relative;
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #ab1066;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 20px;
  border-radius: 100px;
  line-height: 1 !important;
  z-index: 4;
}
.custom-search-botton:hover{
  background: #10c4a4;
  color: #fff;
}

.nav-footer-color{
  background-color: #10c4a4;
  color: #ffffff;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
