@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
* {
  box-sizing: border-box;
}

body {
  background: #ffffff !important;
  min-height: 100vh;
  display: flex;
  font-family: 'Nunito', sans-serif;
}   

.dropbtn {
  background-color: #ffffff;
  color: #044237;
  font-size: 50px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-right: -15rem;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  margin-top: -10rem;
  display: none;
  background-color: #f3f3f3;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-radius: 25px;
  padding: 10px;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  color: #044237;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
table {
  font-family: 'Nunito ExtraBold', sans-serif;
  color: #044237;
}

p{
font-family: 'Nunito Sans Regular', sans-serif;
font-size: 16px;
color: #044237;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #56618f;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #56618f;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.card-img{
  object-fit: cover;
  width: auto;
  height: 150px;
}

.col-text {
  color: #ffffff;
  padding: 3rem;
  justify-content: space-evenly;
  display:block;
}

.col-text h1,
.col-text h2, 
.col-text h5{
  color: #ffffff;
}

.row-text {
  padding: 3rem;
  justify-content: space-evenly;
  display:block;
}

.container-main
{
background: #f3f3f3;
}
.container-green-bg
{
  color: #ffffff;
  background-image: url("./img/giftie_green.jpg");
  background-size: cover;
  padding: 3rem;
}

.footer {
  background: #10c4a4;
  padding: 20px;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding: 5px;
  justify-content: space-evenly;
}
.jumbotron{
  background-color: #10c4a4;
  background-size: cover;
  color: #ffffff;
  text-align:left;
}
.jumbotron-profile{
  color: #ffffff;
  background-image: url("./img/giftie_green.jpg");
  background-size: cover;
  padding: 3rem;
  text-align: center;
}

.login-bg {
  background-image: url("./img/jumbotron-img.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.login-card {
  background: #56618f;
  padding: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.formItem input{
  border: none;
  border-bottom: 0px solid white;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: transparent;
  color: #044237;
  font-family: 'Nunito', sans-serif;
}

.formItem input::placeholder {
  color: #044237;
}

.formItem select{
  border: none;
  border-bottom: 0px solid white;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: transparent;
  color: #044237;
  font-family: 'Nunito', sans-serif;
}
.formItem option{
  border: none;
  border-bottom: 0px solid white;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color:#044237;
  font-family: 'Nunito', sans-serif;
}

.img-box
{
  max-width: 100%; 
  min-width: 100%;
  height: auto;
  
}

.img-banner
{
  margin-bottom: -48px;
}

.loginContainer .rightCol{
  background-image: url("./img/log_in.jpg");
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100vh
}
.loginContainer .leftCol{
  margin: auto;
  width: auto;
  padding: 100px;
}

.signupContainer .rightCol{
  background-image: url("./img/sign_up.jpg");
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100vh
}
.signupContainer .leftCol{
  margin: auto;
  width: auto;
  padding: 100px;
}

.tab-list {
  margin-top: -40px;
}