@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
* {
  box-sizing: border-box;
}

body {
  background: #ffffff !important;
  min-height: 100vh;
  display: flex;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
table {
  font-family: 'Nunito', sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #56618f;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #56618f;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.btn-flat {
  background-color: #2E4C80 !important;
  color: white !important;
}

.col-text {
  padding: 80px;
  justify-content: space-evenly;
  display: block;
}

.footer {
  background: #56618f;
  border-radius: 5px;
  padding: 30px;
  color: #ffffff;
}
.footer-col{
  justify-content: right;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding: 5px;
  justify-content: space-evenly;
}

.jumbotron {
  background: #56618f;
  padding: 20px;
  color: #ffffff;
}

.jumbotron-manage{
  color: #88f7f5;
}
.jumbotron-organize{
  color: #7689df;
  font-family: 'Nunito', sans-serif;
}
.login-bg {
  background-image: url("./img/jumbotron-img.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.login-card {
  background: #56618f;
  padding: 20px;
}

h3 {
  text-align: center;
  color: #FFFFFF;
}

.mb-3 {
  color: #FFFFFF;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.formItem input{
  border: none;
  border-bottom: 0px solid white;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.formItem input::placeholder {
  color:white;
}

.formItem select{
  border: none;
  border-bottom: 0px solid white;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  font-family: 'Nunito', sans-serif;
}
.formItem option{
  border: none;
  border-bottom: 0px solid white;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: #56618f;
  color:white;
  font-family: 'Nunito', sans-serif;
}


.loginContainer .rightCol{
  background-image: url("./img/log_in.jpg");
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100vh
}
.loginContainer .leftCol{
  margin: auto;
  width: auto;
  padding: 100px;
}

.signupContainer .rightCol{
  background-image: url("./img/sign_up.jpg");
 /* Full height */
 height: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100vh
}
.signupContainer .leftCol{
  margin: auto;
  width: auto;
  padding: 100px;
}